node_modules
**/node_modules
.git
.gitignore
**/*.md
!README.md
coverage
**/.env
**/.env.*
!**/.env.example
**/.expo
**/build
packages/ic-app/dist
packages/ic-app/web-build
**/*.tsbuildinfo
_bmad-output
.cursor
terminals
*.log
